@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

.gradient-bg {
  background: linear-gradient(
    174.42deg,
    rgba(3, 26, 86, 0.89) -15.71%,
    rgba(76, 184, 132, 0.81) 95.45%
  );
}

body {
  color: #e6ebed;
  background: linear-gradient(
    174.42deg,
    rgba(3, 26, 86, 0.89) -15.71%,
    rgba(76, 184, 132, 0.81) 95.45%
  );
  background-repeat: no-repeat;
  min-height: 100dvh;
}

.react-calendar__tile {
  color: black !important;
}

.react-calendar__month-view__weekdays__weekday {
  color: black !important;
}

.react-calendar__navigation__label {
  color: black !important;
}

.react-calendar__navigation {
  color: black !important;
}
